<h1>Profiles</h1>

<%= form_tag profiles_path, :method => 'get', :class => "form-inline" do %><!--url_for(:controller => 'groups', :action => 'modcash'), :method => 'post' -->
  <p>
    <%= text_field_tag :search, params[:search], :class => "input-lg", autofocus: true %>
    <%= submit_tag "Search", :name => nil, :class => "btn btn-default btn-lg", :style => "margin:0px 0px 10px 10px" %>
  </p>
<% end %>

<% if @profiles.any? %>
<% else %>
  <p>No search results match your search, <%= params[:search] %>.</p>
<% end %>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <tbody>
        <% @profiles.each do |profile| %>
          <tr>
            <td>
              <% if profile.name.blank?  %>
                <%= link_to profile.email, profile, :class => "btn btn-default btn-lg","data-no-turbolink"=>"true"  %>
              <% else %>
                <%= link_to profile.name, profile, :class => "btn btn-default btn-lg", "data-no-turbolink"=>"true"  %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<% if current_user.profile.title == "admin" || current_user.profile.title == "master" %>
<br />
<br />
<br />
<hr>

  <h2>Backup</h2>
  <br />
  <div class="row">
    <div class="col-xs-4 col-sm-4">
    <h3>Export Profiles</h3>
      <%= link_to "To CSV File", profiles_path(format: "csv"), :class => 'btn btn-default btn' %>

    </div>
    <div class="col-xs-4 col-sm-4">
      <h3>Import Profiles</h3>
      <%= form_tag import_profiles_path, multipart: true do %>
        <%= file_field_tag :file, :class => 'btn btn-default btn' %><br />
        <%= submit_tag "Import", :class => 'btn btn-default btn' %>
      <% end %>
    </div>
  </div>
<% end %>
