<div onClick='<%=@dosomethingspecial%>'>
<br />
<div class="row">
  <div class="col-xs-4 col-sm-4">
    <h1>
      <%= @profile.name %>
      <% if current_user.profile.title == "master" || current_user.profile.title == "admin" %>
        <%= link_to "Edit", edit_profile_path(@profile), :class => "btn btn-default btn-md"%>
      <% end %>
    </h1>
  </div>
  <div class="col-xs-3 col-sm-3">
    <br />
    <%= @profile.phone %>
    <br />
    <%= @profile.email %>
  </div>
  <div class="col-xs-3 col-sm-3">
    <br />
    <strong>Title:</strong>
    <%= @profile.title %>
    <br />
    <strong>Status:</strong>
    <%= @profile.status %>
  </div>
  <div class="col-xs-2 col-sm-2">
    <%= gravatar_for(@profile, 96) %>
  </div>
</div>

<!--
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Average First Touch Waiting Time</th>
          <th>Average Successful Closing Time</th>
          <th>Success Rate</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            @firsttouch
          </td>
          <td>
            @lasttouch
          </td>
          <td>
            @successrate %
          </td>
          <td>
            Overall Score!
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
-->
<% if !@recs.blank? %>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="1"></th>
          <th>First Touch Time</th>
          <th>Successful Closing Time</th>
        </tr>
      </thead>
      <tbody>
        <% @recs.each do |rec| %>
          <tr>
            <td>
              <% if rec.firstname.blank? || rec.lastname.blank? %>
                <%= link_to rec.email, edit_record_path(rec), :class => "btn btn-default btn-md","data-no-turbolink"=>"true"  %>
              <% else %>
                <%= link_to rec.firstname + " " + rec.lastname, edit_record_path(rec), :class => "btn btn-default btn-md", "data-no-turbolink"=>"true"  %>
              <% end %>
            </td>
            <td>
              <%= distance_of_time_in_words(rec.created_at, Time.now) %>
            </td>
            <td>
              <%= distance_of_time_in_words(rec.created_at, Time.now) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>


<% if !@profile.bio.blank?%>
  <p>
    <strong>Bio:</strong>
    <%= @profile.bio %>
  </p>
<% end %>



<%= link_to 'Back', profiles_path, :class => "btn btn-default btn-xs" %>
<p id="notice"><%= notice %></p>
<br /> 


</div>
<script>
function showRams() {
  document.body.style.backgroundImage = "url('http://todofondosdelanfl.com/wp-content/uploads/images/c7/st-louis-rams-wallpapers-1.jpg')";
  return false;
}
</script>