<h2>Edit Account</h2>
<div class="row">
<br />
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <div class="col-xs-7" >
      <%= f.email_field :email, autofocus: true, :class => "input-lg form-control", "placeholder" => "email@domain.com" %>
    </div>
    <div class="col-xs-7">
      <br />
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>

    <div class="col-xs-7">
      <center><div><i>(we need your current password to confirm your changes)</i></div></center>
      <%= f.password_field :current_password, autocomplete: "off", :class => "input-lg form-control", "placeholder" => "current password" %>
    </div>

    <div class="col-xs-7">
      <center><div><i>(leave blank if you don't want to change it)</i></div></center>
      <%= f.password_field :password, autocomplete: "off", :class => "input-lg form-control", "placeholder" => "new password" %>
    </div>
    <div class="col-xs-7">
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "input-lg form-control", "placeholder" => "new password" %>
    </div>
    <div class="col-xs-7">
      <div><%= f.submit "Update", :class=> "btn btn-info btn-lg pull-right" %></div>
    </div>
  </div>
<% end %>
<br />
<br />

<h3>Unhappy?</h3>
<p><%= button_to "Cancel my account", registration_path(resource_name), :class=> "btn btn-default btn-lg", data: { confirm: "Are you sure?" }, method: :delete %></p>

</div>


